In [4]:
import tradermade as tm
import pandas as pd

def fetch_fx_data(symbol, start_date, end_date, timeframe):

    tm.set_rest_api_key("PQgteXR13COKO54qQXdH")

    data = tm.timeseries(currency = symbol, start = start_date, end= end_date, interval = timeframe ,fields=["open", "high", "low","close"])

    df = pd.DataFrame(data)

    return df

                   date     open     high      low    close
0   2023-09-04 00:00:00  1.07758  1.07803  1.07734  1.07790
1   2023-09-04 01:00:00  1.07789  1.07823  1.07750  1.07768
2   2023-09-04 02:00:00  1.07767  1.07874  1.07766  1.07860
3   2023-09-04 03:00:00  1.07859  1.07872  1.07842  1.07860
4   2023-09-04 04:00:00  1.07860  1.07874  1.07815  1.07870
5   2023-09-04 05:00:00  1.07871  1.07906  1.07856  1.07871
6   2023-09-04 06:00:00  1.07870  1.07943  1.07836  1.07902
7   2023-09-04 07:00:00  1.07902  1.08070  1.07889  1.07954
8   2023-09-04 08:00:00  1.07954  1.08012  1.07910  1.07980
9   2023-09-04 09:00:00  1.07980  1.08010  1.07926  1.07948
10  2023-09-04 10:00:00  1.07947  1.08050  1.07936  1.08050
11  2023-09-04 11:00:00  1.08050  1.08090  1.07996  1.08004
12  2023-09-04 12:00:00  1.08003  1.08018  1.07954  1.07975
13  2023-09-04 13:00:00  1.07974  1.08056  1.07953  1.07956
14  2023-09-04 14:00:00  1.07955  1.07958  1.07835  1.07846
15  2023-09-04 15:00:00  1.07845  1.07996  1.07836  1.07990
16  2023-09-04 16:00:00  1.07990  1.08002  1.07924  1.07940
17  2023-09-04 17:00:00  1.07941  1.07963  1.07933  1.07951
18  2023-09-04 18:00:00  1.07952  1.07966  1.07950  1.07954
19  2023-09-04 19:00:00  1.07954  1.07954  1.07931  1.07940
20  2023-09-04 20:00:00  1.07941  1.07970  1.07941  1.07962
21  2023-09-04 21:00:00  1.07957  1.07965  1.07925  1.07953
22  2023-09-04 22:00:00  1.07952  1.07980  1.07946  1.07948
23  2023-09-04 23:00:00  1.07948  1.07952  1.07912  1.07914
24  2023-09-05 00:00:00  1.07915  1.07938  1.07889  1.07933